.button{
    
  -fx-background-color: rgba(167, 167, 167, 0.3); /* Adjust the alpha value (0.0 - 1.0) to control transparency */
    -fx-background-radius: 10px;
}

#blured{
  -fx-background-color: rgba(1, 1, 1, 0.514);
  -fx-border-color:black;

}


.fighter{
  -fx-background-color: rgba(255, 64, 0, 0.3); 
}


/* .doctor{
  -fx-background-color: rgba(0, 153, 255, 0.3); 
} */

.explorer{
  -fx-background-color: rgba(255, 251, 0, 0.3); 
}

.zombie{
  -fx-background-color: rgba(26, 255, 0, 0.3); 
}

.collectible{
  -fx-background-color: rgba(255, 0, 183, 0.3); 
}

.heros{
  -fx-background-color: rgba(255, 255, 255, 0.3);
  -fx-background-radius: 12px;
} 

.label{
  -fx-font-size : 12px;
  -fx-text-align: left;
  -fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-text-fill : rgb(255, 255, 255);

}


/****************************************************************

  ScrollBar Skin  

****************************************************************/


 .scroll-pane{
  -fx-background : rgb(96,96,96,0.3);
  -fx-background-radius: 12px;

}  


.scroll-pane > .corner {
  -fx-background-color:  rgb(96,96,96,0.3)
}

.available-hero{
  -fx-border-color:linear-gradient(from 0% 0% to 100% 100%, #ffffff, #aaaaaa);
  -fx-border-width: 5px;
  -fx-border-radius: 5px;
}


.selected-hero{
  -fx-border-color:linear-gradient(from 0% 0% to 100% 100%, #ffffff, #e2cd0e);
  -fx-border-width: 5px;
  -fx-border-radius: 5px;
}

.damged{
	-fx-background-color : radial-gradient(center 50% 50%, radius 50%,rgba(255, 0, 0, 1) 0%, transparent 100%);
}


.target{
  -fx-border-color:rgb(148, 1, 1);
  -fx-border-width: 2px;
  -fx-border-radius: 5px;
}